<h1>All the Coach</h1>

<table >
  <tr>
    <th>Name</th>
    <th>Specialty</th>

  </tr>

  <% @coachs.each do |coach| %>
      <tr>
        <td><%= link_to coach.name, coach_path(coach) %></td>
        <td><%= coach.specialty %></td>
     
      </tr>
  <% end %>
</table>