<div class="container justify-content-center " >
<div class="card border-primary mb-3 ">
<div class="card-header"> Coach </div>
<div class="card-text">
<%= @coach.name %>
</div>
<div class="card-header">
<%= @coach.specialty%>
</div>
</div>
</div>