<div class="container justify-content-lg-center">
<div class="card border-primary mb-3 "style="max-width: 18rem;">
<div class="card-header"> Coach </div>
<div class="card-text">
<%= @coach.name %>
</div>
<div class="card-header">
<%= @coach.specialty%>
</div>
</div>
</div>