<div class="container justify-content-lg-center">
<div class="card border-primary mb-3" >
<div class="card-header">

<%= @exercise.name %>
</div>
<div class="card-text">

<%= image_tag(@exercise.img, size: "255x255", alt: "exercise Image") %>
</div>
<div class="card-text">

<%= @exercise.explain %>
</div>
<div  class="card-header">

<%= Coach.find(@exercise.coach_id).name %>
</div>
</div>
</div>